/***************************
            MAIN
****************************/
main{
    width:100%;
}

.division_1{
    height:100vh;
    overflow:hidden;
}

.left_content, .right_content{
    overflow-y:auto;
}

.cards{
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}

.card{
    flex:1 1 28%;
    max-width:260px;
    background-color:var(--white);
    border-top:2px solid var(--primary);
    color:var(--dark);
    margin:0.8rem;
    transition:0.5s;
    cursor:default;
}

.card .country span:not(:last-child){
    padding-right:1rem;
    border-right:1px solid rgba(1,1,1,0.1);
}

.card .country span:last-child{
    padding-left:1rem;
}

.card .title{
    font-weight:900;
}

.card .sub_title{
    position:relative;
    top:-15px;
    font-weight:300;
    align-items:center;
}

/*RIGHT CONTENT*/
.right_content{
    width:0%;
    transition:0.5s;
}

.right_content_active{
    width:40%;
}

.right_content ul li{
    margin:1rem 0;
}

.right_content ul li .btn{
    display:block;
}

.cards .active{
    box-shadow:0px 6px 16px -6px var(--gray);
    filter:blur(1px);
}


/*FORM*/
.profile_pic{
    display:block;
    margin-bottom:2rem;
}

.profile_pic figure{
    width:100px;
    height:100px;
    margin:auto;
}

form label figure figcaption{
    position:absolute;
    bottom:0;
    right:0.2rem;
    color:var(--gray);
    z-index:1;
    font-size:25px;
}

form fieldset, fieldset input, fieldset select, fieldset textarea{
    width:100%;
}

fieldset input, fieldset select, fieldset textarea{
    padding:0.5rem;
    background-color:var(--white);
    border:1px solid rgba(1,1,1,0.2);
    resize:none;
}

.description form select{
    opacity:0.4;
    pointer-events:none;
}   

.description label a{
    font-size:12px;
}

@media(max-width:520px){
    .division_1{
        height:100%;
    }
    
    .card{
        flex:1 1 100%;
        max-width:100%;
        margin:0.5rem 0;
    }
    
    .right_content_active{
        width:100%;
    }
}
